:root{
--background-color: #DEE;
--commonForegroundColor: black;
--suplement-color:#CDD;
--headerBackgroundColor: #889;
--frontHeaderBackgroundColor: #273238;
--frontHeaderForegroundColor: #f8ffff;
--infoBoxGridBackgroundColor: #EFF;
--infoBoxFieldForegroundColor: #556;
--infoBoxTitleBackgroundColor: #889;
--infoBoxTitleForegroundColor: #EEF;
--shadowColor: black;
--surnameForegroundColor: #ababab;
   
}
/* Html root */
body{
    background-color: var(--background-color);    
}
li{
    font-weight: bold;
}

/* Class rules */
.skills{
    margin-bottom: 0%;
    display:list-item;
}
.InfoBoxGrid{
    background-color: var(--infoBoxGridBackgroundColor);
    box-shadow: 1px 1px 2px 2px var(--shadowColor);
    font-family: Arial;
    width: 22rem;
    grid-row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: max-content;
}

.infoBoxTitle {
    font-size: 1.0em;
    background-color: var(--infoBoxTitleBackgroundColor);
    color:var(--infoBoxTitleForegroundColor);
    font-weight:bold;
    grid-column-start: 1;
    grid-column-end:3;
    text-align: center;
    height: 20px;
}
.infoBoxFieldName{
    font-weight: bold;
    color: var(--infoBoxFieldForegroundColor);
    padding-left: 5%;
    margin-bottom: 10px;
}

.infoBoxFieldValue{
    padding-left: 2%;
    color: var(--commonForegroundColor);
    font-weight: normal;

}

.infoBoxFieldBigValue{
    grid-column-start: 1;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.85em;
    margin-bottom: 2%;
}
.inverseBottomMargin{
    margin-bottom: -10%;
}
.icons{
    position: absolute;
    margin-left: -1rem;
    margin-top:-2.2rem;
    font-size: 2.5rem;
}
/* IDs Rules */

#CVMainGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 3rem;
    grid-column-gap: 4rem;
    height: max-content;
    background-color: var(--suplement-color);
}

#frontHeader { 
    background-color: var(--frontHeaderBackgroundColor);  
    color: var(--frontHeaderForegroundColor);
    box-shadow: 0px 0px 2px 2px #010;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    /* Innerflexbox properties */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 5px 0 0 0px;
    padding: 5px 2px 2px 10px;
    max-height: 300px;
}
#surname { color: #ababab; font-weight:bold;}
#frontName{
    text-align: right;   
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#academicTitle{
    font-size: 1.5vw;
    font-family: Impact;
    color: white;
    text-align:right;
}



#portrait{
    width: 100%;
    height: 100%;
    max-width: 12vw;
    border-radius: 5%;
}

#nameAndTitle{
    margin: 2%;
    padding-top: 12%;
}

#gridContainer{
    display: flex;
    justify-content: center;
    width: auto;
}

